/**
 * View Transitions
 */
@view-transition {
	navigation: auto;
}
html {
	view-transition-name: none;
}
body {
	view-transition-name: root;
	background-color: transparent;
}
/**
 * Mobile Tweaks
 */
@media (max-width: 1280px) {
	#TOC {
		display: none;
	}
	#toggleNavbar {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 2;
		background-color: var(--toggleNavbar-background-color);
		color: var(--text-color);
		border: 1px solid var(--toggleNavbar-border-color);
		padding: 5px 10px;
		cursor: pointer;
	}
	span.math.display {
		overflow-x: scroll;
		white-space: nowrap;
		display: block;
	}
	blockquote {
		margin: 1em 0 1em 0em;
	}
	img {
		width: 69%;
	}
	div.sourceCode:has(pre.sourceCode) {
		padding: 0.5rem 0.5rem;
		margin: 0.5rem 0;
	}
}

/*
 * Widescreen Tweaks
 */
@media (min-width: 1980px) {
	body {
		max-width: 40em;
	}
}
@media (min-width: 2160px) {
	body {
		max-width: 45em;
	}
}

/*
 * Printer Tweaks
 */
@media print {
	#toggleNavbar, footer {
		display: none
	}
	details[open] {
		border: 1px solid black;
	}
	body {
		padding: 0;
		max-width: 100%;
	}
	/** Printer-Friendly Colors */
	:root {
		--text-color: black;
		--background-color: white;
		--blockquote-border-color: grey;
		--blockquote-text-color: black;
		--details-background-color: grey;
		--hr-color: black;
		--link-color: blue;
		--table-border-color: black;
		--th-border-color: black;
		--svg-green: green;
		--svg-purple: purple;
	}
}
