/**
 * Light and Dark Mode
 */
:root {
	--text-color: #1a1a1a;
	--background-color: #fdfdfd;
	--blockquote-border-color: #e6e6e6;
	--blockquote-text-color: #606060;
	--details-background-color: #dce0e8;
	--hr-color: #1a1a1a;
	--link-color: #2563eb;
	--table-border-color: #1a1a1a;
	--th-border-color: #1a1a1a;
	--TOC-background-color: #f0f0f0;
	--TOC-border-color: #ccc;
	--TOC-item-border-color: #ddd;
	--TOC-text-color: #333;
	--TOC-hover-background-color: #ddd;
	--toggleNavbar-color: #1a1a1a;
	--toggleNavbar-background-color: #f0f0f0;
	--toggleNavbar-border-color: #ccc;
	--svg-green: #ADD1B2;
	--svg-purple: #B4A7E5;
}
.dark {
	--text-color: #cdd6f4;
	--background-color: #1e1e2e;
	--blockquote-border-color: #6c7086;
	--blockquote-text-color: #a6adc8;
	--details-background-color: #11111b;
	--hr-color: #bac2de;
	--link-color: #74c7ec;
	--table-border-color: #bac2de;
	--th-border-color: #bac2de;
	--TOC-background-color: #1e1e2e;
	--TOC-border-color: #6c7086;
	--TOC-item-border-color: #6c7086;
	--TOC-text-color: #bac2de;
	--TOC-hover-background-color: #313244;
	--toggleNavbar-color: #bac2de;
	--toggleNavbar-background-color: #1e1e2e;
	--toggleNavbar-border-color: #6c7086;
	--svg-green: purple;
	--svg-purple: green;
}
.dark code span.kw { color: #a6e3a1; } 
.dark code span.im { color: #94e2d5; }
.dark code span.im { color: #a6e3a1; }
.dark code span.dt { color: #f38ba8; }
.dark code span.fu { color: #89b4fa; }
.dark code {
	filter: brightness(1.2);
}
.dark img[src^=".images/doodle_"] {
	filter: invert(1);
}
/**
 * 
 */
html {
	color: var(--text-color);
	background-color: var(--background-color);
	scroll-behavior: smooth;
	line-height: 1.5;
	font-family: Georgia, serif;
	font-size: 20px;
}
body {
	color: var(--text-color);
	background-color: var(--background-color);
}
footer {
	text-align: center;
	position: relative;
	bottom: 0;
	margin-bottom: 1em;
	left: 50%;
	transform: translateX(-50%);
	margin-top: calc(80% - 30px);
}
footer p {
	margin: 0;
}
blockquote {
	border-left-color: var(--blockquote-border-color);
	color: var(--blockquote-text-color);
}
hr {
	background-color: var(--hr-color);
}
a, a:visited {
	color: var(--link-color);
}
table {
	border-top-color: var(--table-border-color);
	border-bottom-color: var(--table-border-color);
	margin-left: auto;
	margin-right: auto;
}
figure figcaption {
	text-align: center;
	font-style: italic;
	color: var(--blockquote-text-color);
	margin-top: 0.5em;
}
details {
	padding: 0 1em;
	border-radius: 0.25em;
	transition: padding 0.3s ease;
	overflow: hidden;
}
details[open] {
	background-color: var(--details-background-color);
	padding: 1em;
	margin-bottom: 1em;
}
th {
	border-top-color: var(--th-border-color);
}
#TOC {
	position: fixed;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: var(--TOC-background-color);
	overflow-y: auto;
	border-left: 1px solid var(--TOC-border-color);
	display: block;
	counter-reset: toc-counter;
	z-index: 1;
}
#TOC > .incremental {
	list-style: none;
	padding: 0;
	margin: 0;
}
#TOC > .incremental li {
	margin: 0;
	padding: 8px;
	border-bottom: 1px solid var(--TOC-item-border-color);
	counter-increment: toc-counter;
}
#TOC > .incremental li a {
	text-decoration: none;
	color: var(--TOC-text-color);
	display: block;
}
#TOC > .incremental li a:hover {
	background-color: var(--TOC-hover-background-color);
}
#TOC > .incremental li::before {
	content: counter(toc-counter, upper-roman) ". ";
	font-weight: bold;
	margin-right: 4px;
}
#toggleNavbar {
	display: none;
}
img {
	width: 42%;
	display: block;
	margin: 0 auto;
}
/* Mobile */
@media (max-width: 1280px) {
	#TOC {
		display: none;
	}
	#toggleNavbar {
		display: block;
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 2;
		background-color: var(--toggleNavbar-background-color);
		color: var(--text-color);
		border: 1px solid var(--toggleNavbar-border-color);
		padding: 5px 10px;
		cursor: pointer;
	}
	span.math.display {
		overflow-x: scroll;
		white-space: nowrap;
		display: block;
	}
	blockquote {
		margin: 1em 0 1em 0em;
	}
	img {
		width: 69%;
	}
}
/* Big Windows */
@media (min-width: 1980px) {
	body {
		max-width: 40em;
	}
}
@media (min-width: 2160px) {
	body {
		max-width: 45em;
	}
}

